/* common */
* {
  padding: 0;
  margin: 0;
  background: white;
}

body {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}

ul,li {
  list-style: none;
}

img {
  width: 100%;
} 


/* header */
header {
  background: white;
}

header h1 {
  width: 100px;
}

header .container {
  width: 100%;
  align-items: center;
}

/* nav */
nav {
  text-align: center;
}

nav ul {
  margin: 0 ;
  padding: 0 ;
}

nav ul li{
  list-style: none;
  display: inline-block;
  width: 20%; /* ここで項目の幅を指定します */
}

nav ul li a {
  text-decoration: none;
  color: black;
}


/* snslink */
.follow-me {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.follow-me li {
  float: right;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  background-color: white;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: black;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}
.follow-me li a:hover::before {
  background-color: black;
  color: white;
}
.follow-me li a[href*="instagram.com"]::before      { content: "\f16d"; }
.follow-me li a[href*="twitter.com"]::before        { content: "\f099"; }

/* main */
main {
  text-align: center;
}

main h1 {
  font-size: 50px;
  margin-top: 100px;
}

main h2 {
  font-size: 30px;
  margin-top: 20px;
}

main img {
  margin-top: 20px;
}
main p {
  margin-top: 15px;
}

main ul {
  display: -webkit-flex;
  display: flex;
}

main ul li {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

main.worksimg {
  display: flex;
  justify-content: center;
}

main .profile {
  float: left;
  width: 100%;
}

main .profileimg {
  width: 20%;
  float: left;
  margin-top: 0;
  margin-left: 10%;

}

main p.profiletext {
  text-align: left;
}

main p.profilelist {
  text-align: left;
  margin-left: 0;
}

/* スマホデザイン */
@media screen and (max-width: 480px) { 
main img.profileimg {
  width: 100%;
  margin: 0;
}
}

/* footer */

footer {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

/* footerbutton */

.btn-brackets {
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  transition: .4s;
}
.btn-brackets:hover {
  color:#ff7f7f;
}
.btn-brackets:before, .btn-brackets:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.btn-brackets:before {
  border-left: solid 1px #000;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  left: 0;
}
.btn-brackets:after {
  content: '';
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  right: 0;
}

footer p.totop {
  margin-bottom: 5%;
}

footer p.copyright {
  margin-top: 5%;
  font-size: small;
}